<template>
  <div
    data
    class=" w-full h-full flex justify-center items-center
           bg-slate-300"
  >
    <scoreboard-standard ref="scoreboard" />

    <!-- 工具列 -->
    <div class=" w-full absolute bottom-0 flex justify-center p-10 gap-10">
      <q-icon
        name="restart_alt"
        size="60px"
        class=" opacity-80 cursor-pointer"
        color="white"
        @click="reset()"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';

import ScoreboardStandard from '../components/scoreboard-standard.vue';

import { useQuasar } from 'quasar';

const $q = useQuasar();

const scoreboard = ref<InstanceType<typeof ScoreboardStandard>>();

function reset() {
  scoreboard.value?.reset();
  $q.notify({
    type: 'positive',
    message: '已全部歸零'
  });
}

</script>

<style scoped lang="sass">
</style>
