<template>
  <div class=" board flex justify-center items-center gap-8">
    <score-card
      v-model="left.score"
      card-class="w-[400px] h-[500px]"
      score-class="text-[280px]"
      tutorial-visible
    />
    <score-card
      v-model="left.game"
      card-class="w-[160px] h-[200px]"
      score-class="text-[100px]"
    />

    <score-card
      v-model="right.game"
      card-class="w-[160px] h-[200px]"
      score-class="text-[100px]"
    />
    <score-card
      v-model="right.score"
      card-class="w-[400px] h-[500px]"
      score-class="text-[280px]"
    />
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';

import ScoreCard from './scoreboard-standard-score-card.vue';

import { useVModels } from '@vueuse/core';

interface State {
  /** 分數 */
  score: number;
  /** 局數 */
  game: number;
}

interface Props {
  leftState?: State;
  rightState?: State;
}
const props = withDefaults(defineProps<Props>(), {
  leftState: () => ({
    score: 0, game: 0,
  }),
  rightState: () => ({
    score: 0, game: 0,
  }),
});

const emit = defineEmits<{
  (e: 'update:leftState', value: State): void;
  (e: 'update:rightState', value: State): void;
}>();

const { leftState: left, rightState: right } = useVModels(props, emit, { passive: true });

function reset() {
  left.value.score = 0;
  left.value.game = 0;
  right.value.score = 0;
  right.value.game = 0;
}

defineExpose({
  /** 歸零 */
  reset,
});
</script>

<style scoped lang="sass">

</style>
