<template>
  <div
    class="relative board"
    :class="props.cardClass"
    @click="tutorialVisible = false"
  >
    <transition :name="transitionName">
      <div
        :key="`${modelValue}`"
        class=" score-card absolute shadow-2xl rounded-3xl flex flex-center text-gray-600 select-none"
        :class="props.scoreClass"
      >
        {{ modelValue }}

        <div class=" absolute w-full h-full">
          <!-- 增加 -->
          <div
            class="  w-full h-2/5 cursor-n-resize"
            @click="addValue(1)"
          >
            <q-tooltip
              :model-value="tutorialVisible"
              no-parent-event
              anchor="center left"
              self="center right"
            >
              點擊卡片上半部，增加數值 →
            </q-tooltip>
          </div>
          <!-- 編輯 -->
          <div
            class="  w-full h-1/5 cursor-text"
            @click="openEditor()"
          >
            <q-tooltip
              :model-value="tutorialVisible"
              no-parent-event
              anchor="center left"
              self="center right"
            >
              點擊卡片中間，開啟編輯視窗 →
            </q-tooltip>
          </div>

          <!-- 減少 -->
          <div
            class="  w-full h-2/5 cursor-s-resize"
            @click="addValue(-1)"
          >
            <q-tooltip
              :model-value="tutorialVisible"
              no-parent-event
              anchor="center left"
              self="center right"
            >
              點擊卡片下半部，減少數值 →
            </q-tooltip>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';

import { useVModels } from '@vueuse/core';
import { useQuasar } from 'quasar';

const $q = useQuasar();

interface Props {
  modelValue: number;
  cardClass?: string;
  scoreClass?: string;
  tutorialVisible?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  modelValue: 0,
  cardClass: '',
  scoreClass: '',
  tutorialVisible: false,
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void;
}>();

const { modelValue } = useVModels(props, emit, { passive: true });

watch(modelValue, (newValue, oldValue) => {
  transitionName.value = newValue < oldValue ? 'flip-up' : 'flip-down';
})

function addValue(value: number) {
  if (value < 0 && modelValue.value <= 0) return;
  modelValue.value = modelValue.value + value;
}

function openEditor() {
  $q.dialog({
    title: '請輸入目標數值',
    message: '數值不可小於 0',
    prompt: {
      model: '',
      type: 'number' // optional
    },
    cancel: true,
  }).onOk(data => {
    const value = Number(data);
    if (value < 0) return;

    modelValue.value = value;
  })
}

const transitionName = ref('flip-up');

const tutorialVisible = ref(props.tutorialVisible);
</script>

<style scoped lang="sass">
.board
  perspective: 2000px
  transform-style: preserve-3d
  transition-duration: 0.1s
  &:active
    transform: scale(0.99)
.score-card
  width: 100%
  height: 100%
  background: white
  backface-visibility: hidden
  transition-timing-function: cubic-bezier(0.870, 0.005, 0.000, 1.1)
  transform-origin: 0% 25%

.flip-up-enter-active, .flip-up-leave-active
  transition-duration: 0.8s
  pointer-events: none
.flip-up-enter-from
  transform: rotateX(180deg)  !important
.flip-up-leave-to
  transform: rotateX(-180deg) !important

.flip-down-enter-active, .flip-down-leave-active
  transition-duration: 0.8s
  pointer-events: none
.flip-down-enter-from
  transform: rotateX(-180deg)  !important
.flip-down-leave-to
  transform: rotateX(180deg) !important
</style>
